<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>ZERO - Registro</title>

</head>
<body>
<!--------------NAVBAR-------------->

    <%- include('./partials/header')%> 

<!-------------FORMULARIO----------->
<div><h1>Registrate</h1></div>

<div class="container">
    <div class="row">
        <div class="card">
            <section id="section-form">
                <!-- <h1 class="titulo">REGISTRATE</h1> -->
                <div class="lineaRosa"></div> 
                <br>
            <form class="form-register" action="/user/register" method="post">                                 
                    <div class="espacioRegister">
                        <label for="nombre" class="label-registro">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" class="field left" >
                    </div>

                    <div class="espacioRegister">
                        <label for="apellido" class="label-registro">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido" class="field rigth" >
                    </div>

                    <div class="espacioRegister">
                        <label for="email" class="label-registro">E-mail:</label>
                        <input type="email" name="email" id="email" placeholder="example@mail.com" class="field left" >
                    </div>

                    <!-- <div class="espacioRegister">
                        <label for="confirmarEmail" class="label-registro">Repita su e-mail:</label>
                        <input type="email" name="confirmarEmail" id="confirmarEmail" placeholder="example@mail.com" class="field rigth">
                    </div> -->

                    <div class="espacioRegister">
                        <label for="contraseña" class="label-registro">Contraseña:</label>
                        <input type="password" name="contraseña" id="contraseña" minlength="8" maxlength="20" placeholder="Ingrese una contraseña válida" class="field left">
                    </div>

                    <!-- <div class="espacioRegister">
                        <label for="repetirContraseña" class="label-registro">Repita su contraseña:</label>
                        <input type="password" name="repetirContraseña" id="repetirContraseña" minlength="8" maxlength="20" placeholder="Confirme su contraseña" class="field rigth">
                    </div> -->

                    <div class="espacioRegister">
                        <label for="text" class="label-registro">Fecha de nacimiento:</label>
                        <input type="date" name="fecha" value="DD-MM-AA" class="calendario">
                    </div>

                    <div class="espacioChecbox">
                        <input type="checkbox" name="promociones">
                        <label for="promociones">Deseo recibir novedades sobre productos y promociones</label>
                        <br>
                        <input type="checkbox" name="terminos" >
                        <label for="terminos">Acepto los términos y condiciones</label>
                    </div>

                    <div id="boxButton">
                        <button type="submit" class="boton1">REGISTRARME</button>
                    </div>

                    <p class="irLogin"><a href="/user/login">¿Ya tienes cuenta? ¡Ingresa aquí!</a></p>
            </form>
        </section>
        </div>
    </div>
</div>




<!-------------FOOTER---------------->

    <%- include ('./partials/footer') %> 

</body>
</html>